body {
     margin-top: 2em;
     margin-right: auto;
     margin-bottom: 0em;
     margin-left: auto;
     line-height :1.5em;
     top:25px;
     font-family: verdana;
     text-align: justify;
     width: 60em;
}
p.name{
     font-size: 30px;
}
p.menu{
	font-size: 18px;
}
div.display-pic {
		align: left;
		width: 300px;
		height: 300px;
}
span.highlight{
	background-color: #D8D8D8 ;
}
hr {
   solid: #D8D8D8;
}
a {
  text-decoration: none;
}
table.snaps{
	width: 60em;
	margin-left:auto;
	margin-right:auto;
}
div.video{
	position: relative;
	left: 10px;
}
table{
	border-spacing: 12px;
}